/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 20px;
  background-color: rgba(224, 255, 255, .5);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption h1 {
  z-index: 10;
  bottom: 21.5rem;
  left: -80px;
  font-size: 50px;
  transition: 1.5s;
  position: absolute;
}

.carousel-caption h1:hover {
  text-shadow: 6px 6px 5px royalblue;
  transition: 1.5s;
}



/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.profil .col-lg-4 {
  margin-left: 20px;
  padding-top: 20px;
  text-align: center;
  width: 180px;
  height: 180px;
  background-image: url(assets/img/bg1.png.png);
  position: relative;
  top: 4rem;
  left: 3rem;
  background-size: cover;
  border-radius: 90px;
}

.col-lg-4 img {
  width: 180px;
  height: 180px; 
  position: absolute;
  top: -1.8px;
  left: -0.8px;
  border-radius: 50%;
}


.marketing {
  width: 1100px;
  height: 900px;
  background-image: url(assets/img/bg2.png);
  border-radius: 5%;
  position: relative;
  border-top: 1px solid salmon;
  border-bottom: 1px solid lightskyblue;
}

.profil h2 {
  font-size: 40px;
  text-align: center;
  width: 500px;
  position: absolute;
  margin: 20px 300px;
  color: black;
}

.profil p {
  font-size: 20px;
  width: 900px;
  position: absolute;
  color: black;
  margin-top: 220px;
  margin-left: 20px;
  text-transform: capitalize;
  text-align: justify;
}


.profil a {
  font-size: 17px;
  text-decoration: none;
}

.about {
  width: 800px;
  border: 1px solid black;
  background-color: white;
  margin: 0px auto;
}

.copy {
  position: absolute;
  width: 1100px;
  bottom: 2px;
  left: 50px;
}

.copy .back {
  width: 200px;
  position: absolute;
  right: 50px;
  bottom: -2px;
}

.kontak {
  margin-top: 20rem;
  text-align: center;
}

.kontak h5 {
  font-size: 30px;
  font-family: curvise;
  margin-top: 10px;
}

.nama {
  width: 95px;
  height: 95px;
  background-image: url(assets/img/instagram-removebg-preview.png);
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 600px;
  background-size: cover;
  transition: .2s;
}

.nama:hover {
  transition: .2s;
  width: 110px;
  height: 110px;
  background-image: url(assets/img/instagram-removebg-preview.png);
  display: inline-block;
  position: absolute;
  left: 393px;
  top: 595px;
  background-size: cover;
}

.fb {
  width: 85px;
  height: 85px;
  background-image: url(assets/img/fb.png);
  display: inline-block;
  position: absolute;
  right: 400px;
  top: 600px;
  background-size: cover;
  background-position: 0 -10px;
  background-repeat: no-repeat;
  transition: .2s;
}

.fb:hover {
  transition: .2s;
  width: 100px;
  height: 100px;
  background-image: url(assets/img/fb.png);
  display: inline-block;
  position: absolute;
  right: 395px;
  top: 595px;
  background-size: cover;
  background-position: 0 -10px;
  background-repeat: no-repeat;
}



/* Featurettes
------------------------- */

/*.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more 
}

Thin out the marketing headings 
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove 
  letter-spacing: -.05rem;
}*/


/* RESPONSIVE CSS
-------------------------------------------------- */

  /*@media (min-width: 40em) {
  Bump up size of carousel content
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.60rem;
    line-height: 1.4;
    margin-left: 5rem;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
} */
